:root {
  --header-wrap-height: 152px;
  --full-header-height: 360px;
}

@media (max-width: 767px) {
  :root {
    --header-wrap-height: unset;
    --full-header-height: 280px;
  }
}
html,
body {
  scroll-behavior: smooth;
  transition: 0.3s all ease-in;
}

html.dark {
  background-color: #000;
}

.sticky-block {
  height: var(--header-wrap-height);
}
